.video-title {
  font-size: 0.9rem !important;
}

.App {
  padding: 0 0.5rem;
  padding-top: 100px;
  width: 100%;
}

.nav {
  z-index: 99;
}

@media (min-width: 768px) {
  .App {
    padding: 2rem;
    padding-top: 80px;
    padding-left: calc(20% + 2rem) !important;
  }

  .video-card {
    width: 300px;
  }

  .modal-container {
    min-width: 20% !important;
  }

  .nav {
    padding: 0 3rem;
  }

  .leftfixed-nav {
    padding-top: 90px;
    width: 20%;
  }

  .top-element{
    display: none !important;
  }
  .btn-menu{
    display: none;
  }
  .login-container{
    width: 35%;
  }
}
